<footer class="footer w3-display-container" style="background-color: #111">
    <div class="w3-third">
        <p style="color: #C4C4C4; margin-left: 175px">
            <a href="mailto:dllargent@bsu.edu" style="text-decoration: none">Mentored by: David Largent</a><br>
            <a href="mailto:wpenglish@bsu.edu" style="text-decoration: none">Developed by: William English</a><br>
            BSU CS4MS Team
        </p>
    </div>
    <div class="w3-third w3-center">
        <a href="http://www.bsu.edu" class="w3-col"><img src="images/bsu.png" style="height: 100px; margin-top: 8px"></a>
    </div>
    <div class="w3-third">
        <p align="left" style="color: #C4C4C4; font-size: 13px">
            NOTICE: The information presented on this page represents the personal views, ideas, and opinions of the author. This is not an official
            Ball State University web page. Links contained in this web site to other organizations are presented as a service and neither constitute
            nor imply university endorsement or warranty.
        </p>
    </div>
</footer>
</body>
</html>
