<footer class="footer w3-display-container">
    <div class="w3-third">
        <p class="light-text">
            NOTICE: The information presented on this page represents the personal views, ideas, and opinions of the author. This is not an
            official
            Ball State University web page. Links contained in this web site to other organizations are presented as a service and neither
            constitute
            nor imply university endorsement or warranty.
        </p>
    </div>
    <div class="w3-third w3-center">
        <a class="w3-col" href="http://www.bsu.edu"><img alt="Ball State Logo" class="logo" src="images/bsu.png"></a>
    </div>
    <div class="w3-third">
        <p class="light-text">
            Mentored by: <a href="mailto:dllargent@bsu.edu">David Largent</a>
            <br>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSc2j4Iwh1Lmx2DVhS_1OBuA6nWYNhYMtffUnlJF3pPXq-DDWw/viewform?usp=pp_url"
               target="_blank">
                Join our Mailing List
            </a>
            <br>
            <span class="row medium-text">
                <a href="https://facebook.com" target="_blank">
                    <i class="fa fa-facebook-square hover-grow"></i>
                </a>
            </span>
        </p>
    </div>
</footer>
</body>
</html>
